{% extends 'public/base.twig' %}

{% block content %}

    <script defer src="js/order.js" ></script>

    <div class="container-fluid">
        <div class="row justify-content">
            <div class="col text-left">
                <h3>Корзина:</h3>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Фото</th>
                    <th scope="col">Товар</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Колличество</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Отмена</th>
                </tr>
                </thead>

                <tbody>

                {% for book in cart %}
                    <tr>
                        <th scope="row">
                            <img src="{{ book.bookImagePath }}" style="float: left; width: 50px"  alt="Cinque Terre">
                        </th>
                        <td>
                            <div class="row justify-content text-left" style="margin-top: 5%" >

                                <h5 >{{ book.bookTitle }}</h5>

                            </div>
                            <div class="row justify-content text-left" >
                                <h7 class="text-muted">Толстой Л.Н.</h7>
                            </div>

                        </td>
                        <td>
                            <div class="row justify-content text-дуае" >
                                <h6 style="margin-top: 20px" >{{ book.bookPrice }} руб.</h6>
                            </div>
                        </td>
                        <td>
                            <select style="margin-top: 10px" class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </td>
                        <td>
                            <div class="row justify-content text-дуае" >
                                <h6 style="margin-top: 20px" >{{ book.totalPrice }} руб.</h6>
                            </div>
                        </td>
                        <td>
                            <div style="margin-top: 10px" class="btn btn-danger">Удалить</div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>

        <div id="successMessage"  style=" display: none;"  class="alert alert-success">Заказ в обработке</div>
        <div id="errorMessage" style=" display: none;" class="alert alert-danger"></div>


        <div class="row justify-content">
            <div class="col-md-7 text-left">
                <div id="addOrder" class="btn btn-primary">ОФОРМИТЬ ЗАКАЗ</div>
            </div>
            <div class="col-md-5 text-right">
                <h4 style="text-align: right">Итого: {{ cartTotal }} руб.</h4>
            </div>
        </div>


    </div>

{% endblock %}
