{% extends 'base.twig' %}

{% block content %}

    <script defer src="js/genres.js" ></script>

    <div>
        <a href="/work/BookShopMVC/public/add_genre" class="btn btn-primary" >Добавить</a>
    </div>
    <label id="ResultDeleteGenreLabel"></label>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование жанра</th>
            <th scope="col">Кол-во книг в жанре</th>
            <th scope="col">Удалить</th>
            <th scope="col">Обновить</th>
        </tr>
        </thead>
        <tbody>

        {% for genre in genres %}
            <tr>
                <td>{{ genre.genres.genreID }}</td>
                <td>{{ genre.genres.genreTitle }}</td>

                <td> {{ genre.amount }}</td>
                <td>
                    <button  data-genre-id="{{  genre.genres.genreID }}" class="btn btn-danger remove-genre" >Удалить</button>
                </td>
                <td>
                    <a href="/work/BookShopMVC/public/genre/{{ genre.genres.genreID  }}" class="btn btn-primary" >Обновить</a>
                </td>
            </tr>
        {%endfor  %}

        </tbody>
    </table>



{% endblock %}