{% extends 'public/base.twig' %}

{% block content%}

    <div class="jumbotron pt-3 pb-1">

        {% if ( book.bookImagePath )%}
            <img src="../{{ book.bookImagePath }}" style="float: left; width: 300px" class="rounded mr-5 mb-1" alt="Cinque Terre">
        {% endif %}

        <h1 class="display-4">{{ book.bookTitle }}</h1>


        <p>
            <span data-book-id="{{ book.bookID }}" style="width: 200px" id="but" class="btn btn-primary add-to-cart">Добавить в корзину</span>
        </p>
        <script>
            let cartIn = $.cookie('cart');
            let id = $('#but').data('book-id');
            console.log($.cookie('cart'));


            let isInCart = false;
            console.log(id);
            for(let i=0; i<cartIn.length; i++){
                if(cartIn[i].bookID === +id ){
                    isInCart = true;
                    break;
                }//if

            }//for
console.log(isInCart);
            if(isInCart){
                $('#but').css('display', 'none');
            }//if




        </script>
        <p class="lead">{{ book.bookDescription }}</p>
        <hr class="my-4">
        <p class="lead"><b>Цена: </b>{{ book.bookPrice }} ₽</p>
        <p class="lead"><b>Кол-во страниц:</b> {{ book.bookPages }} стр.</p>
        <p class="lead"><b>ISBN: </b>{{ book.bookISBN }}</p>
        <p class="lead">
            <b>Авторы: </b><br>

        <ul>
            {% for author in book.authors %}
                <li>{{ author.authorFirstName }} {{ author.authorLastName }}</li>
            {% endfor %}
        </ul>
        </p>

        <p class="lead">
            <b>Жанры: </b><br>

        <ul>
            {% for genre in book.genres %}
                <li>{{ genre.genreTitle }}</li>
            {% endfor %}
        </ul>
        </p>

        <p class="lead">
            <a href="/BookShopMVC/public/admin/comments/{{ book.bookID }}"> <b>Комментарии (</b> {{ commentAmount.amount }}<b> )</b> </a>
        </p>

        <div id="CommentsList">

            {% for comment in book.comments %}
                <div data-comment-id="{{ comment.commentID }}" class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.author.userLogin }}</h5>
                        <b><i>{{ comment.created }}</i></b>
                        <div data-comment-for-update-id="{{ comment.commentID }}" class="card-text">{{ comment.commentText }}</div>
                    </div>
                </div>


            {%endfor  %}

        </div>

    </div>

{% endblock %}