{% extends 'base.twig' %}

{% block content %}


    <script defer src="/BookShopMVC/public/js/comments.js" ></script>

    <h3>Название книги:</h3>
    <h2>{{ book.bookTitle }}</h2>

    <div class="form">
        <div class="form-group">
            <a href="/BookShopMVC/public/comments/new/{{ book.bookID }}" class="btn btn-primary">Добавить новый комментарий</a>
        </div>
    </div>

    <div id="CommentsList">

        {% for comment in comments %}
            <div data-comment-id="{{ comment.comment.commentID }}" class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.user.userLogin }} Дата: {{ comment.date }}</h5>
                    <div data-comment-for-update-id="{{ comment.comment.commentID }}" class="card-text">{{ comment.comment.commentText }}</div>
                    <a href="#" >
                        <i id="EditButton" data-user-id="{{ comment.comment.userID }}" data-comment-id="{{ comment.comment.commentID }}" class="far fa-edit fa-2x"></i>
                    </a>
                    <a href="#" ><i id="DeleteButton" data-book-id="{{ comment.comment.bookID }}" data-user-id="{{ comment.comment.userID }}" data-comment-id="{{ comment.comment.commentID }}" class="btn-danger far fa-trash-alt fa-2x"></i></a>

                </div>
            </div>


        {%endfor  %}
    </div>

    <div id="More" class="row" style="margin-top: 20px; margin-bottom: 30px;">

        <div id="MoreButton" data-book-id="{{  book.bookID }}" class="btn btn-outline-primary col-3 ">ЕЩЁ</div>

    </div>

    <div id="ModalUpdate" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalTitleUpdate">Редактор отзыва</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="ModalUpdateBody" class="modal-body">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Измените комментарий</label>
                        <textarea type="text" class="form-control" id="UpdateCommentInput" ></textarea>
                        <div class="form-group">
                            <div id="errorInput" style=" display: none;" class="message alert alert-danger">Текст комментария не может быть меньше 4-х символов!</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="CancelButton"  type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button id="UpdateButton" type="button" class="btn btn-primary" data-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}