{% extends 'base.twig' %}

{% block content %}

    <div class="form-group">
        <a href="/BookShopMVC/public/new-book/" class="btn btn-primary" >Добавить книгу</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">ISBN</th>
            <th scope="col">Кол-во страниц</th>
            <th scope="col">Цена</th>
            <th scope="col">Кол-во</th>
            <th scope="col">Удалить</th>
            <th scope="col">Информация о книге</th>
        </tr>
        </thead>
        <tbody>

        {% for book in books %}

            <tr>
                <td>{{ book.bookID }}</td>
                <td>{{ book.bookTitle }}</td>
                <td>{{ book.bookISBN }}</td>
                <td>{{ book.bookPages }}</td>
                <td>{{ book.bookPrice }}</td>
                <td>{{ book.bookAmount }}</td>
                <td>
                    <a class="btn btn-danger removeBook" data-book-id="{{ book.bookID }}">Удалить</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="/BookShopMVC/public/info-book/{{ book.bookID }}">Посмотреть</a>
                </td>
            </tr>

        {%endfor  %}

        </tbody>
    </table>



{% endblock %}