{% extends 'base.twig' %}

{% block content%}

    <div class="jumbotron pt-3 pb-1">

        {{% if ( book ) %}
        <img src="http://www.cruzo.net/user/images/k/ecc3ecf42c75db1ffce5d06cbe95b1e6_644.jpg" style="float: left; width: 300px" class="rounded mr-5 mb-1" alt="Cinque Terre">
        <h1 class="display-4">{{ book.bookTitle }}</h1>
        <p class="lead">{{ book.bookDescription }}</p>
        <hr class="my-4">
        <p class="lead"><b>Цена: </b>{{ book.bookPrice }} ₽</p>
        <p class="lead"><b>Кол-во страниц:</b> {{ book.bookPages }} стр.</p>
        <p class="lead"><b>ISBN: </b>{{ book.bookISBN }}</p>

    </div>

{% endblock %}