{% extends 'base.twig' %}

{% block content %}

    <h3>Заказ {{ order.order.orderID }}</h3>

    <div>
        <span style="font-size: 18px"><strong>Пользователь: </strong></span> <span style="font-size: 15px">{{ order.user.userLogin }}</span>
    </div>
    <div>
        <span style="font-size: 18px"><strong>Дата заказа: </strong></span> <span style="font-size: 15px">{{ order.date }}</span>
    </div>
    <div>
        <span style="font-size: 18px"><strong>Статус заказа: </strong></span> <span style="font-size: 15px">{{ order.statusTitle.statusTitle }}</span>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Фото</th>
            <th scope="col">Название книги</th>
            <th scope="col">Цена</th>
            <th scope="col">Количество</th>

        </tr>
        </thead>
        <tbody>
            {% for od in orderdetails %}
            <tr>
                <th scope="row">
                    <img src="../../{{od.book.bookImagePath}}" style="float: left; width: 50px"  alt="Cinque Terre">
                </th>
                <td>{{od.book.bookTitle}}</td>
                <td>{{od.od.bookPrice}}</td>
                <td>{{od.od.bookAmount}}</td>
            </tr>
            {%endfor  %}
        </tbody>
    </table>

    <div class="col-12">
        <div class="btn btn-primary"> Подтвердить заказ</div>
        <div class="btn btn-danger "> Отклонить заказ</div>
    </div>
{% endblock %}